talent-studio-integration/src/schema/integration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xs:simpleType name="da">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:element name="commands">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="command" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:choice>
                            <xs:element ref="organisationUnit" minOccurs="1" maxOccurs="unbounded"/>
                            <xs:element ref="position" minOccurs="1" maxOccurs="unbounded"/>
                            <xs:element ref="person" minOccurs="1" maxOccurs="unbounded"/>
                            <xs:element ref="portfolioItem" minOccurs="1" maxOccurs="unbounded"/>
                        </xs:choice>

                        <xs:attribute name="action" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:NMTOKEN">
                                    <xs:enumeration value="create"/>
                                    <xs:enumeration value="find"/>
                                    <xs:enumeration value="exists"/>
                                    <xs:enumeration value="findAll"/>
                                    <xs:enumeration value="delete"/>
                                    <xs:enumeration value="update"/>
                                    <xs:enumeration value="setExternalId"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="organisationUnit">
        <xs:complexType>
            <xs:all>
                <xs:element name="id" type="xs:string" minOccurs="0"/>
                <xs:element name="label" type="xs:string" minOccurs="0"/>
                <xs:element name="comments" type="xs:string" minOccurs="0"/>
                <xs:element ref="parent" minOccurs="0"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:element name="position">
        <xs:complexType>
            <xs:all>
                <xs:element name="id" type="xs:string" minOccurs="0"/>
                <xs:element name="title" type="xs:string" minOccurs="0"/>
                <xs:element name="comments" type="xs:string" minOccurs="0"/>
                <xs:element ref="organisationUnit" minOccurs="0"/>
                <xs:element name="portfolioItems" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="portfolioItem" minOccurs="1" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="category" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="da">
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="classification" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="da">
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="competency" minOccurs="0" type="da"/>
                <xs:element name="developmentrole" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="da">
                            <xs:enumeration value="YES"/>
                            <xs:enumeration value="NO"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="grade" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="da">
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="keyposition" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="da">
                            <xs:enumeration value="YES"/>
                            <xs:enumeration value="NO"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="location" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="da">
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="preferredlanguage" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="da">
                            <xs:enumeration value="EN"/>
                            <xs:enumeration value="AA"/>
                            <xs:enumeration value="AB"/>
                            <xs:enumeration value="AF"/>
                            <xs:enumeration value="SQ"/>
                            <xs:enumeration value="AM"/>
                            <xs:enumeration value="AR"/>
                            <xs:enumeration value="HY"/>
                            <xs:enumeration value="AS"/>
                            <xs:enumeration value="AY"/>
                            <xs:enumeration value="AZ"/>
                            <xs:enumeration value="BA"/>
                            <xs:enumeration value="EU"/>
                            <xs:enumeration value="BN"/>
                            <xs:enumeration value="DZ"/>
                            <xs:enumeration value="BH"/>
                            <xs:enumeration value="BI"/>
                            <xs:enumeration value="BR"/>
                            <xs:enumeration value="BG"/>
                            <xs:enumeration value="MY"/>
                            <xs:enumeration value="BE"/>
                            <xs:enumeration value="KM"/>
                            <xs:enumeration value="CA"/>
                            <xs:enumeration value="ZH"/>
                            <xs:enumeration value="CO"/>
                            <xs:enumeration value="HR"/>
                            <xs:enumeration value="CS"/>
                            <xs:enumeration value="DA"/>
                            <xs:enumeration value="NL"/>
                            <xs:enumeration value="EO"/>
                            <xs:enumeration value="ET"/>
                            <xs:enumeration value="FO"/>
                            <xs:enumeration value="FJ"/>
                            <xs:enumeration value="FI"/>
                            <xs:enumeration value="FR"/>
                            <xs:enumeration value="FY"/>
                            <xs:enumeration value="GD"/>
                            <xs:enumeration value="GL"/>
                            <xs:enumeration value="KA"/>
                            <xs:enumeration value="DE"/>
                            <xs:enumeration value="EL"/>
                            <xs:enumeration value="KL"/>
                            <xs:enumeration value="GN"/>
                            <xs:enumeration value="GU"/>
                            <xs:enumeration value="HA"/>
                            <xs:enumeration value="IW"/>
                            <xs:enumeration value="HI"/>
                            <xs:enumeration value="HU"/>
                            <xs:enumeration value="IS"/>
                            <xs:enumeration value="IN"/>
                            <xs:enumeration value="IA"/>
                            <xs:enumeration value="IE"/>
                            <xs:enumeration value="IK"/>
                            <xs:enumeration value="GA"/>
                            <xs:enumeration value="IT"/>
                            <xs:enumeration value="JA"/>
                            <xs:enumeration value="JW"/>
                            <xs:enumeration value="KN"/>
                            <xs:enumeration value="KS"/>
                            <xs:enumeration value="KK"/>
                            <xs:enumeration value="RW"/>
                            <xs:enumeration value="KY"/>
                            <xs:enumeration value="RN"/>
                            <xs:enumeration value="KO"/>
                            <xs:enumeration value="KU"/>
                            <xs:enumeration value="LO"/>
                            <xs:enumeration value="LA"/>
                            <xs:enumeration value="LV"/>
                            <xs:enumeration value="LN"/>
                            <xs:enumeration value="LT"/>
                            <xs:enumeration value="MK"/>
                            <xs:enumeration value="MG"/>
                            <xs:enumeration value="MS"/>
                            <xs:enumeration value="MT"/>
                            <xs:enumeration value="ML"/>
                            <xs:enumeration value="MI"/>
                            <xs:enumeration value="MR"/>
                            <xs:enumeration value="MO"/>
                            <xs:enumeration value="MN"/>
                            <xs:enumeration value="NA"/>
                            <xs:enumeration value="NE"/>
                            <xs:enumeration value="NO"/>
                            <xs:enumeration value="OC"/>
                            <xs:enumeration value="OR"/>
                            <xs:enumeration value="OM"/>
                            <xs:enumeration value="PS"/>
                            <xs:enumeration value="FA"/>
                            <xs:enumeration value="PL"/>
                            <xs:enumeration value="PT"/>
                            <xs:enumeration value="PA"/>
                            <xs:enumeration value="QU"/>
                            <xs:enumeration value="RM"/>
                            <xs:enumeration value="RO"/>
                            <xs:enumeration value="RU"/>
                            <xs:enumeration value="SM"/>
                            <xs:enumeration value="SG"/>
                            <xs:enumeration value="SA"/>
                            <xs:enumeration value="SR"/>
                            <xs:enumeration value="SH"/>
                            <xs:enumeration value="ST"/>
                            <xs:enumeration value="TN"/>
                            <xs:enumeration value="SD"/>
                            <xs:enumeration value="SI"/>
                            <xs:enumeration value="SS"/>
                            <xs:enumeration value="SK"/>
                            <xs:enumeration value="SL"/>
                            <xs:enumeration value="SN"/>
                            <xs:enumeration value="SO"/>
                            <xs:enumeration value="ES"/>
                            <xs:enumeration value="SU"/>
                            <xs:enumeration value="SW"/>
                            <xs:enumeration value="SV"/>
                            <xs:enumeration value="TL"/>
                            <xs:enumeration value="TG"/>
                            <xs:enumeration value="TT"/>
                            <xs:enumeration value="TA"/>
                            <xs:enumeration value="TE"/>
                            <xs:enumeration value="TH"/>
                            <xs:enumeration value="BO"/>
                            <xs:enumeration value="TI"/>
                            <xs:enumeration value="TO"/>
                            <xs:enumeration value="TS"/>
                            <xs:enumeration value="TR"/>
                            <xs:enumeration value="TK"/>
                            <xs:enumeration value="TW"/>
                            <xs:enumeration value="UK"/>
                            <xs:enumeration value="UR"/>
                            <xs:enumeration value="UZ"/>
                            <xs:enumeration value="VI"/>
                            <xs:enumeration value="VO"/>
                            <xs:enumeration value="CY"/>
                            <xs:enumeration value="WO"/>
                            <xs:enumeration value="XH"/>
                            <xs:enumeration value="JI"/>
                            <xs:enumeration value="YO"/>
                            <xs:enumeration value="ZU"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="remuneration" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="da">
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element ref="sourceAssociations" minOccurs="0"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:element name="sourceAssociations">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ptpAssociation" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ptpAssociation">
        <xs:complexType>
            <xs:all>
                <xs:element name="target" minOccurs="0">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="id" type="xs:string" minOccurs="1"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:all>
            <xs:attribute name="type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="DIRECT"/>
                        <xs:enumeration value="FUNCTIONAL"/>
                        <xs:enumeration value="PROVISIONAL"/>
                        <xs:enumeration value="TEMPORARY"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="person">
        <xs:complexType>
            <xs:all>
                <xs:element name="id" minOccurs="0" type="xs:string"/>
                <xs:element name="dateOfBirth" minOccurs="0" type="xs:date"/>
                <xs:element name="firstName" minOccurs="0" type="xs:string"/>
                <xs:element name="title" minOccurs="0" type="xs:string"/>
                <xs:element name="prefGivenName" minOccurs="0" type="xs:string"/>
                <xs:element name="secondName" minOccurs="0" type="xs:string"/>
                <xs:element name="contactTelephone" minOccurs="0" type="xs:string"/>
                <xs:element name="contactEmail" minOccurs="0" type="xs:string"/>
                <xs:element name="addresslinefour" minOccurs="0" type="da"/>
                <xs:element name="addresslineone" minOccurs="0" type="da"/>
                <xs:element name="addresslinethree" minOccurs="0" type="da"/>
                <xs:element name="addresslinetwo" minOccurs="0" type="da"/>
                <xs:element name="aristocraticprefix" minOccurs="0" type="da"/>
                <xs:element name="country" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="da">
                            <xs:enumeration value="GB"/>
                            <xs:enumeration value="AF"/>
                            <xs:enumeration value="AL"/>
                            <xs:enumeration value="DZ"/>
                            <xs:enumeration value="AS"/>
                            <xs:enumeration value="AD"/>
                            <xs:enumeration value="AO"/>
                            <xs:enumeration value="AI"/>
                            <xs:enumeration value="AQ"/>
                            <xs:enumeration value="AG"/>
                            <xs:enumeration value="AR"/>
                            <xs:enumeration value="AM"/>
                            <xs:enumeration value="AW"/>
                            <xs:enumeration value="AU"/>
                            <xs:enumeration value="AT"/>
                            <xs:enumeration value="AZ"/>
                            <xs:enumeration value="PT1"/>
                            <xs:enumeration value="BS"/>
                            <xs:enumeration value="BH"/>
                            <xs:enumeration value="ES1"/>
                            <xs:enumeration value="BD"/>
                            <xs:enumeration value="BB"/>
                            <xs:enumeration value="BY"/>
                            <xs:enumeration value="BE"/>
                            <xs:enumeration value="BZ"/>
                            <xs:enumeration value="BJ"/>
                            <xs:enumeration value="BM"/>
                            <xs:enumeration value="BT"/>
                            <xs:enumeration value="BO"/>
                            <xs:enumeration value="BA"/>
                            <xs:enumeration value="BW"/>
                            <xs:enumeration value="BR"/>
                            <xs:enumeration value="BN"/>
                            <xs:enumeration value="BG"/>
                            <xs:enumeration value="BF"/>
                            <xs:enumeration value="MM1"/>
                            <xs:enumeration value="BI"/>
                            <xs:enumeration value="KH"/>
                            <xs:enumeration value="CM"/>
                            <xs:enumeration value="CA"/>
                            <xs:enumeration value="ES2"/>
                            <xs:enumeration value="CV"/>
                            <xs:enumeration value="KY"/>
                            <xs:enumeration value="CF"/>
                            <xs:enumeration value="TD"/>
                            <xs:enumeration value="NZ1"/>
                            <xs:enumeration value="CL"/>
                            <xs:enumeration value="CN"/>
                            <xs:enumeration value="CX"/>
                            <xs:enumeration value="CO"/>
                            <xs:enumeration value="KM"/>
                            <xs:enumeration value="CG"/>
                            <xs:enumeration value="CD"/>
                            <xs:enumeration value="CK"/>
                            <xs:enumeration value="CR"/>
                            <xs:enumeration value="HR"/>
                            <xs:enumeration value="CU"/>
                            <xs:enumeration value="CY"/>
                            <xs:enumeration value="CZ"/>
                            <xs:enumeration value="DK"/>
                            <xs:enumeration value="DG"/>
                            <xs:enumeration value="DJ"/>
                            <xs:enumeration value="DM"/>
                            <xs:enumeration value="DO"/>
                            <xs:enumeration value="EC"/>
                            <xs:enumeration value="EG"/>
                            <xs:enumeration value="SV"/>
                            <xs:enumeration value="GQ"/>
                            <xs:enumeration value="ER"/>
                            <xs:enumeration value="EE"/>
                            <xs:enumeration value="ET"/>
                            <xs:enumeration value="FK"/>
                            <xs:enumeration value="FO"/>
                            <xs:enumeration value="FJ"/>
                            <xs:enumeration value="FI"/>
                            <xs:enumeration value="FR"/>
                            <xs:enumeration value="GF"/>
                            <xs:enumeration value="PF"/>
                            <xs:enumeration value="GA"/>
                            <xs:enumeration value="GM"/>
                            <xs:enumeration value="GE"/>
                            <xs:enumeration value="DE"/>
                            <xs:enumeration value="GH"/>
                            <xs:enumeration value="GI"/>
                            <xs:enumeration value="GR"/>
                            <xs:enumeration value="GL"/>
                            <xs:enumeration value="GD"/>
                            <xs:enumeration value="GP"/>
                            <xs:enumeration value="GU"/>
                            <xs:enumeration value="GT"/>
                            <xs:enumeration value="GN"/>
                            <xs:enumeration value="GW"/>
                            <xs:enumeration value="GY"/>
                            <xs:enumeration value="HT"/>
                            <xs:enumeration value="US1"/>
                            <xs:enumeration value="HN"/>
                            <xs:enumeration value="HK"/>
                            <xs:enumeration value="HU"/>
                            <xs:enumeration value="IS"/>
                            <xs:enumeration value="IN"/>
                            <xs:enumeration value="ID"/>
                            <xs:enumeration value="IR"/>
                            <xs:enumeration value="IQ"/>
                            <xs:enumeration value="IE"/>
                            <xs:enumeration value="IL"/>
                            <xs:enumeration value="IT"/>
                            <xs:enumeration value="CI"/>
                            <xs:enumeration value="JM"/>
                            <xs:enumeration value="JP"/>
                            <xs:enumeration value="JO"/>
                            <xs:enumeration value="KZ"/>
                            <xs:enumeration value="KE"/>
                            <xs:enumeration value="KI"/>
                            <xs:enumeration value="KP"/>
                            <xs:enumeration value="KR"/>
                            <xs:enumeration value="KW"/>
                            <xs:enumeration value="KG"/>
                            <xs:enumeration value="LA"/>
                            <xs:enumeration value="LV"/>
                            <xs:enumeration value="LB"/>
                            <xs:enumeration value="LS"/>
                            <xs:enumeration value="LR"/>
                            <xs:enumeration value="LY"/>
                            <xs:enumeration value="LI"/>
                            <xs:enumeration value="LT"/>
                            <xs:enumeration value="LU"/>
                            <xs:enumeration value="MO"/>
                            <xs:enumeration value="MK"/>
                            <xs:enumeration value="MG"/>
                            <xs:enumeration value="MW"/>
                            <xs:enumeration value="MY"/>
                            <xs:enumeration value="MV"/>
                            <xs:enumeration value="ML"/>
                            <xs:enumeration value="MT"/>
                            <xs:enumeration value="MH"/>
                            <xs:enumeration value="MQ"/>
                            <xs:enumeration value="MR"/>
                            <xs:enumeration value="MU"/>
                            <xs:enumeration value="YT"/>
                            <xs:enumeration value="MX"/>
                            <xs:enumeration value="FM"/>
                            <xs:enumeration value="MD"/>
                            <xs:enumeration value="MC"/>
                            <xs:enumeration value="MN"/>
                            <xs:enumeration value="MS"/>
                            <xs:enumeration value="MA"/>
                            <xs:enumeration value="MZ"/>
                            <xs:enumeration value="MM"/>
                            <xs:enumeration value="NA"/>
                            <xs:enumeration value="NR"/>
                            <xs:enumeration value="NP"/>
                            <xs:enumeration value="NL"/>
                            <xs:enumeration value="AN"/>
                            <xs:enumeration value="NC"/>
                            <xs:enumeration value="NZ"/>
                            <xs:enumeration value="NI"/>
                            <xs:enumeration value="NE"/>
                            <xs:enumeration value="NG"/>
                            <xs:enumeration value="NU"/>
                            <xs:enumeration value="NF"/>
                            <xs:enumeration value="MP"/>
                            <xs:enumeration value="NO"/>
                            <xs:enumeration value="OM"/>
                            <xs:enumeration value="PK"/>
                            <xs:enumeration value="PW"/>
                            <xs:enumeration value="PS"/>
                            <xs:enumeration value="PA"/>
                            <xs:enumeration value="PG"/>
                            <xs:enumeration value="PY"/>
                            <xs:enumeration value="PE"/>
                            <xs:enumeration value="PH"/>
                            <xs:enumeration value="PN"/>
                            <xs:enumeration value="PL"/>
                            <xs:enumeration value="PT"/>
                            <xs:enumeration value="PR"/>
                            <xs:enumeration value="QA"/>
                            <xs:enumeration value="RE"/>
                            <xs:enumeration value="MU1"/>
                            <xs:enumeration value="RO"/>
                            <xs:enumeration value="RU"/>
                            <xs:enumeration value="RW"/>
                            <xs:enumeration value="WS"/>
                            <xs:enumeration value="SM"/>
                            <xs:enumeration value="SA"/>
                            <xs:enumeration value="SN"/>
                            <xs:enumeration value="CS"/>
                            <xs:enumeration value="SC"/>
                            <xs:enumeration value="SL"/>
                            <xs:enumeration value="SG"/>
                            <xs:enumeration value="SK"/>
                            <xs:enumeration value="SI"/>
                            <xs:enumeration value="ST"/>
                            <xs:enumeration value="SB"/>
                            <xs:enumeration value="SO"/>
                            <xs:enumeration value="ZA"/>
                            <xs:enumeration value="ES"/>
                            <xs:enumeration value="LK"/>
                            <xs:enumeration value="SH"/>
                            <xs:enumeration value="KN"/>
                            <xs:enumeration value="LC"/>
                            <xs:enumeration value="PM"/>
                            <xs:enumeration value="VC"/>
                            <xs:enumeration value="SD"/>
                            <xs:enumeration value="SR"/>
                            <xs:enumeration value="SZ"/>
                            <xs:enumeration value="SE"/>
                            <xs:enumeration value="CH"/>
                            <xs:enumeration value="SY"/>
                            <xs:enumeration value="TW"/>
                            <xs:enumeration value="TJ"/>
                            <xs:enumeration value="TZ"/>
                            <xs:enumeration value="TH"/>
                            <xs:enumeration value="TG"/>
                            <xs:enumeration value="TK"/>
                            <xs:enumeration value="TO"/>
                            <xs:enumeration value="TT"/>
                            <xs:enumeration value="TA"/>
                            <xs:enumeration value="TN"/>
                            <xs:enumeration value="TR"/>
                            <xs:enumeration value="TM"/>
                            <xs:enumeration value="TC"/>
                            <xs:enumeration value="TV"/>
                            <xs:enumeration value="UG"/>
                            <xs:enumeration value="UA"/>
                            <xs:enumeration value="AE"/>
                            <xs:enumeration value="US"/>
                            <xs:enumeration value="UY"/>
                            <xs:enumeration value="UZ"/>
                            <xs:enumeration value="VU"/>
                            <xs:enumeration value="VA"/>
                            <xs:enumeration value="VE"/>
                            <xs:enumeration value="VN"/>
                            <xs:enumeration value="VG"/>
                            <xs:enumeration value="VI"/>
                            <xs:enumeration value="WK"/>
                            <xs:enumeration value="WF"/>
                            <xs:enumeration value="YE"/>
                            <xs:enumeration value="ZR"/>
                            <xs:enumeration value="ZM"/>
                            <xs:enumeration value="ZW"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="criticalskillholder" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="da">
                            <xs:enumeration value="YES"/>
                            <xs:enumeration value="NO"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="familyname2" minOccurs="0" type="da"/>
                <xs:element name="familyname3" minOccurs="0" type="da"/>
                <xs:element name="firstregion" minOccurs="0" type="da"/>
                <xs:element name="gender" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="da">
                            <xs:enumeration value="MALE"/>
                            <xs:enumeration value="FEMALE"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="generationaffix" minOccurs="0" type="da"/>
                <xs:element name="givenname2" minOccurs="0" type="da"/>
                <xs:element name="givenname3" minOccurs="0" type="da"/>
                <xs:element name="highpotential" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="da">
                            <xs:enumeration value="YES"/>
                            <xs:enumeration value="NO"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="homeemailaddress" minOccurs="0" type="da"/>
                <xs:element name="homephonenumber" minOccurs="0" type="da"/>
                <xs:element name="keycontributor" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="da">
                            <xs:enumeration value="YES"/>
                            <xs:enumeration value="NO"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="keysuccessor" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="da">
                            <xs:enumeration value="YES"/>
                            <xs:enumeration value="NO"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="middlename1" minOccurs="0" type="da"/>
                <xs:element name="middlename2" minOccurs="0" type="da"/>
                <xs:element name="middlename3" minOccurs="0" type="da"/>
                <xs:element name="mobilephonenumber" minOccurs="0" type="da"/>
                <xs:element name="municipality" minOccurs="0" type="da"/>
                <xs:element name="postofficebox" minOccurs="0" type="da"/>
                <xs:element name="postalcode" minOccurs="0" type="da"/>
                <xs:element name="qualificationaffix" minOccurs="0" type="da"/>
                <xs:element name="secondregion" minOccurs="0" type="da"/>
                <xs:element name="thirdregion" minOccurs="0" type="da"/>
                <xs:element name="workemailaddress" minOccurs="0" type="da"/>
                <xs:element name="workphonenumber" minOccurs="0" type="da"/>
                <xs:element name="subjectAssociations" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="stpAssociation" minOccurs="1" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:element name="stpAssociation">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="target" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:string" minOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="ACTING"/>
                        <xs:enumeration value="TEMPORARY"/>
                        <xs:enumeration value="SECONDEDTO"/>
                        <xs:enumeration value="PERMANENT"/>
                        <xs:enumeration value="EMERGENCY"/>
                        <xs:enumeration value="READYNOW"/>
                        <xs:enumeration value="SHORTTERM"/>
                        <xs:enumeration value="MEDIUMTERM"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="portfolioItem">
        <xs:complexType>
            <xs:all>
                <xs:element name="id" type="xs:string" minOccurs="0"/>
                <xs:element name="label" type="xs:string" minOccurs="0"/>
                <xs:element name="comments" type="xs:string" minOccurs="0"/>
                <xs:element ref="node" minOccurs="0"/>
                <xs:element ref="contentType" minOccurs="0"/>
                <xs:element ref="contentSubType" minOccurs="0"/>
                <xs:element name="blobValue" minOccurs="0">
                    <xs:complexType>
                        <xs:attribute name="ref" type="xs:integer"/>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="scope" minOccurs="0"/>
                <xs:element name="origFileName" type="xs:string" minOccurs="0"/>
                <xs:element name="fileExtension" type="xs:string" minOccurs="0"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:element name="contentType">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id">
                    <xs:simpleType>
                        <xs:restriction base="xs:NMTOKEN">
                            <xs:enumeration value="CF">
                                <xs:annotation>
                                    <xs:documentation>Competency Framework</xs:documentation>
                                </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="CV">
                                <xs:annotation>
                                    <xs:documentation>Curriculum Vitae</xs:documentation>
                                </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="AR">
                                <xs:annotation>
                                    <xs:documentation>Performance and Reviews</xs:documentation>
                                </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="SS">
                                <xs:annotation>
                                    <xs:documentation>Person Sourced</xs:documentation>
                                </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="DESC">
                                <xs:annotation>
                                    <xs:documentation>Position Description</xs:documentation>
                                </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="SM">
                                <xs:annotation>
                                    <xs:documentation>Supporting Materials</xs:documentation>
                                </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="TR">
                                <xs:annotation>
                                    <xs:documentation>Training Records</xs:documentation>
                                </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="WP">
                                <xs:annotation>
                                    <xs:documentation>Work Products</xs:documentation>
                                </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="WC">
                                <xs:annotation>
                                    <xs:documentation>Written Correspondence</xs:documentation>
                                </xs:annotation>
                            </xs:enumeration>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="contentSubType">
        <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="UPLOAD"/>
                <xs:enumeration value="TEXT"/>
                <xs:enumeration value="URL"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="scope">
        <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="RESTRICTED"/>
                <xs:enumeration value="PRIVATE"/>
                <xs:enumeration value="PUBLIC"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="node">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="parent">
        <xs:complexType>
            <xs:all>
                <xs:element name="id" type="xs:string" minOccurs="1"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

</xs:schema>
